<h1 class="text-2xl font-bold">
    <%= @video['title'] %>
</h1>

<% if @entitled || (!logged_in? && !@video['subscription_required'])  %>
    <div class="w-96 mx-auto">
        <%= player(@video, 'w-96 h-56') %>
    </div>
<% else %>
    <div class='h-8'></div>
    <p class="text-4xl text-center w-full h-24">
        This video is premium, <a href="#" class="text-blue-500">please susbscribe to access this video</a>
    </p>
<% end %>

<p>
Created at: <%= @video['created_at'] %>
</p>
<% if @video['description'] %>
    <h3 class="text-lg font-bold">
        Description
    </h3>
    <p class="text-sm font-light">
        <%= @video['description'] %>
    </p>
<% end %>

<div class='h-8'></div>
<%= link_to 'Back to video list', root_path, class: "text-purple-600" %>