<!DOCTYPE html>
<html>
  <head>
    <title>The coolest video list</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="bg-blue-500 p-6">
      <div class="flex justify-between flex-wrap container mx-auto">
        <div class="text-white mr-6">
          <a href="/" class="font-semibold text-xl tracking-tight">The coolest video list</a>
        </div>
        <div class="block lg:flex lg:items-center lg:w-auto">
          <div>
            <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0">
              Login
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class='container mx-auto bg-blue-100 py-8 px-4'>
      <%= yield %>
    </div>
  </body>
</html>
